attrs
click
colorama
contourpy
cramjam
cycler
exceptiongroup
fastparquet
flake8
fonttools
fsspec
iniconfig
joblib
kiwisolver
matplotlib
mccabe
nltk
numpy
packaging
pandas
Pillow
pluggy
pycodestyle
pyflakes
pyparsing
pytest
python-dateutil
pytz
regex
six
tomli
tqdm
